<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Logado.css">
    <title>Logado</title>
</head>
<body>
    <p class="nomeUser">Usuário: {{Usuario}}</p>
    <div class="divGeral">
    <form action="./PostarTexto" method="POST" class="divAddTexto">Adicionar Texto<br>
        <input type="text" name="Texto" class="inputDivTexto">
        <input type="submit" value="Postar">
        <p>{{ErroTexto}}</p>
    </form>
    <form action="/PostarImagens" method="POST" enctype="multipart/form-data" class="divAddFoto">
        <input name="imagem" type="file">
        <input type="submit" value="Postar">
        <p>{{ErroImagem}}</p>
    </form>
    <form action="/PostarVideos" method="POST" enctype="multipart/form-data" class="divAddVideo">
        <input name="video" type="file">
        <input type="submit" value="Postar">
        <p>{{ErroVideo}}</p>
    </form>
    </div>
    <form action="/logado" method="get">
        <input name="PostUser" type="text">

        <input type="radio" id="todos" name="PostType" value="*" checked>
        <label for="todos">Todas</label><br>
        <input type="radio" id="texto" name="PostType" value="Text">
        <label for="texto">Texto</label><br>
        <input type="radio" id="imagem" name="PostType" value="Img">
        <label for="imagem">Imagem</label>
        <input type="radio" id="video" name="PostType" value="Vid">
        <label for="video">Video</label>

        <input type="submit" value="Filtrar">
    </form>
    <a href="/logout">Desconectar</a>

    <div>
        {{#Postagem}}
            <p>Postagem realizada por: {{User}}</p>
            <p>{{Texto}}</p>
            <img src="{{PathImg}}">
            <video src="{{PathVid}}" type="video/mp4" autoplay></video>
        {{/Postagem}}
    </div>
</body>
</html>